#imagemap1 {
	float:left;
	position: relative;
	bottom: 55px;
}
#bg-body {
	position:fixed;
	left:0px;
	top:0px;
	margin:0px auto;
	width:100%;
	height:100%;
	text-align:center;
	z-index: -1;
}
img {
	border:0px none;
	vertical-align:middle;
}
body {
	color: #888;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 13pt;
	line-height: 120%;
	text-align: left;
}
.wrapper {
	width:950px;
	margin:0px auto;
}
.content {
	padding:10px 14px;
	display:block;
	background-color:#FFF;
	background-image:none;
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:0px 0px;
	background-clip:border-box;
	background-origin:padding-box;
	background-size:auto auto;
}
h1 {
	color:#000;
	font-size:36px;
	line-height:120%;
	margin-bottom:15px;
	display:inline-block;
}
.article{
	margin-bottom:15px;
	width:900px;
	border-top-color:#F1F2EF;
	border-top-style:solid;
	border-top-width:2px;
}
#mimages{
	float:right;
	position:relative;
	bottom:40px;
}
#history1 {
	position:relative;
	left:150px;
}
h3 {
	text-align:center;
}
.links {
	margin-top:5px;
	position:relative;
	left:140px;
}
.reserve {
	text-align:center;
}
.required:after { 
	content:" *";
	color: red;
}
i {
	font-size:75%;
}
header {
	font-size:200%;
	text-align:center;
	color: #fff;
	font-family: 'Righteous', cursive; 
	font-weight: normal; 
	line-height: 60px;
	margin: 10px 0 20px; 
	text-transform: uppercase; 
	text-shadow: 2px 2px 0 #000, margin: 10px 0 24px; 
}
#menu {
	margin-top:15px;
	}
#menu ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}
#menu ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700px;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelvetivaNeue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
#menu ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background-color:#F0F0F0 ;
}
#menu ul li.current-menu-item {
	background:#ddd;
}
#menu ul li:hover {
	background:#f6f6f6;
}
#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}
#menu ul ul li {
	float:none;
	width:200px;
}
#menu ul ul a {
	line-height:120%;
	padding:10px 15px;
}
#menu ul ul ul {
	top:0;
	left:100%;
}
#menu ul li:hover > ul {
	display:block
}
#list {
	list-style-type:disc;
	margin-left:20px;
	background:#73ffd6;
}
#list a {
	text-decoration:none;
	color:#3b3b50;
}
iframe {
	position:relative;
	left:55px;
}
.table {
	margin:0px;
	padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ffffff;
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}
.table table {
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
}
.table table tr:first-child td:first-child {
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
	border-top-left-radius:15px;
}
.table table tr:first-child td:last-child {
	-moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
}
.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-left-radius:15px;
	border-bottom-left-radius:15px;
}
.table tr:hover td {
	
}
.table tr:nth-child(odd) { 
	background-color:#aad4ff; 
}
.table tr:nth-child(even)    { 
	background-color:#d3e9ff; 
}
.table td {
	vertical-align:middle;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:25px;
	font-size:20px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}
.table tr:last-child td {
	border-width:0px 1px 0px 0px;
}
.table tr td:last-child {
	border-width:0px 0px 1px 0px;
}
.table tr:last-child td:last-child {
	border-width:0px 0px 0px 0px;
}
.table tr:first-child td {
	background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");
	background: -o-linear-gradient(top,#0057af,0057af);
	background-color:#0057af;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:25px;
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#ffffff;
}
.table tr:first-child td:first-child {
	border-width:0px 0px 1px 0px;
}
.table tr:first-child td:last-child {
	border-width:0px 0px 1px 1px;
}
.table a {
	text-decoration:none;
}
.bottomfooter {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 10px 60px 10px;
	margin-top: 0px;
	overflow: hidden;
	opacity:0.8;
}
.bottomfooter .footer-left {
	float: left;
}
.bottomfooter .mainicon {
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0 0 10px;
}
.bottomfooter .footername {
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.bottomfooter .footer-right {
	float: right;
}
.bottomfooter.footer-right p {
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}
.bottomfooter form{
	display: inline-block;
}
.bottomfooter form input,
.bottomfooter form textarea {
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}
.bottomfooter ::-webkit-input-placeholder {
	color:  #5c666b;
}
.bottomfooter ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;

.bottomfooter :-ms-input-placeholder {
	color:  #5c666b;
}
.bottomfooter form input {
	height: 55px;
	margin-bottom: 15px;
}
.bottomfooter form textarea {
	height: 100px;
	margin-bottom: 20px;
}
.bottomfooter form button {
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}